services:
  db:
    image: postgres:14-alpine
    container_name: comedy_cards_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=comedy_cards_db
    ports:
      - "5432:5432"
    networks:
      - app-network

  backend:
    container_name: comedy_cards_backend
    build: ./backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/app # Hot-reloading
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    container_name: comedy_cards_frontend
    build:
      context: ./frontend
    volumes:
      - ./frontend/src:/app/src # Hot-reloading
    ports:
      - "5173:80" # Puerto de desarrollo de Vite
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: