services:
  # Base de Datos PostgreSQL
  # Se usa 'type: db' para definir una base de datos gestionada.
  - type: db
    name: comedy_cards_db
    postgresMajorVersion: 18
    plan: free

  # Web Service para el Backend de FastAPI
  - type: web
    name: comedy_cards_backend
    runtime: docker
    plan: free
    region: frankfurt
    
    # Configuración de la build
    dockerfilePath: ./backend/Dockerfile
    
    # Variables de Entorno
    envVars:
      # Conecta el backend a la base de datos
      - key: DATABASE_URL
        fromService:
          type: db # El tipo del servicio del que obtenemos el dato
          name: comedy_cards_db
          property: internalConnectionString
          
      # Variables para CORS y Python
      - key: VERCEL_FRONTEND_URL
        value: https://ai-comedy-cards.vercel.app
      - key: PYTHON_VERSION
        value: 3.10.13

      # Secretos (los valores se añadirán desde el dashboard de Render)
      - key: GEMINI_API_KEY
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: ALGORITHM
        value: HS256
        
    # Health Check para despliegues sin tiempo de inactividad
    healthCheckPath: /api/v1