@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados para la barra de scroll */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1f2937; /* bg-gray-800 */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #4b5563; /* bg-gray-600 */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* bg-gray-500 */
}